.title-dms {
    text-align: center;
    margin-top: 1em;
}

.logo {
    width: 200px;
    margin-top: 1em;
}

.img-container {
    display: flex;
    justify-content: center;
}

.dms-button {
    background: #1d73bb;
    color: white;
    font-size: 16px;
    box-shadow: 2px 3px 6px #97afc3;
}