.mat-b-success {
    background-color: #2cae94;
    color: white;
}

.mat-b-warning {
    background-color: #e6282eed;
    color: white;
}

.title-modal {
    font-weight: 700;
    color: #1c2c66;
    text-decoration: underline;
}